*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    scroll-behavior: smooth;
}

body {
    /* width: 100%; */
    /* overflow-x: hidden; */
}
html{
    font-size: 100%;
}

p{
    font-weight: 300;
    color: black;
    text-align: center;
}
 /* ----- Start Style Nav-bar ----- */
header {
    position: sticky;
    top: 0%;
    left: 0%;
    padding: 15px 70px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: rgb(57, 62, 204);
}
.logo{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}
.logo span{
    color: #FF4612;
}
/* .navbar{
    display: flex;  
    position: relative;
    width: 70%;
}
.navbar li{
    list-style: none;
} */

header a{
    color: black;
    text-decoration: none;
    /* margin-left: 80px; */
    font-weight: 700;
}

/* ------- sign in --------- */

.connect{
    background-image: url(background-signin.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0,0, 0.8);
    width: 100%;
    background-position: unset;
    padding: 8% 0%;

}
.signinform{

    position: relative;
    left: 30%;
    border-radius: 10px;
    padding: 35px 50px;
    background: white;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);

    justify-content: center;
    align-items: center;
    width: 40%;
    height: 350px;
    /* margin-left: 25%; */
}
.signinform h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.signinform p{
    font-weight: 500;
    font-size: 100%;
    color: #3153ff;
    margin-bottom: 20px;
}

.signinform .inputboite{
    
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10%;
}

.signinform .inputboite input {
    width: 80%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;

}


.signinform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #3153ff;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}




/* h1{
    text-align: center;
}
.descr p{
    font-size: x-large;
}
input{
    width: 350px;
    height: 30px;
    box-shadow: 2px 2px 2px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.forms{
    margin-right: 200px;
}  */